# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Entorno
.env

# Docker
*.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
agents/.bull_agent_state.json
backend/gael_telegram_small.jpg
agents/.spxl_phase_state.json